body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Garamond, serif;
    overflow-x: hidden;
}

p {
    width: 30vw;
}

div {
    text-align: center;
    margin: auto;
    font-size: large;
}

div>div {
    text-align: center;
    margin: auto;
    padding: 30px;
    padding-bottom: 0;
}

.head {
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    width: 350px;
    position: sticky;
    top: 0;
    background-color: rgb(47, 47, 248);
    padding: 0;
}

.panel {
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wel {
    width: 100%;
    background-color: rgb(47, 47, 248);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.wel>* {
    font-size: larger;
    text-align: center;
    margin: auto;
    color: lavender;
}

.subpanel {
    margin-top: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: indigo solid 1px;
    border-radius: 15vw;
}

.subpanel>*>img {
    width: 100px;
}

@media only screen and (max-width: 768px) {
    p {
        width: 90%;
    }
    .subpanel {
        flex-direction: column;
    }
}